{% extends 'base.html.twig' %}

{% block title %}Ronron | Modifier mon mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card my-5">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-2">Mot de passe</h1>
                        <p class="card-text text-center mb-2">Ici vous pouvez modifier votre mot de passe ou <a href="{{ path('app_account') }}"> retourner à votre compte</a>.</p>
                        <br>
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        <div class="form-group mb-3">
                            {{ form_label(form.password, 'Ancien mot de passe', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.password) }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form_label(form.newPassword.first, 'Nouveau mot de passe', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.newPassword.first, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.newPassword.first) }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form_label(form.newPassword.second, 'Confirmer le nouveau mot de passe', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.newPassword.second, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.newPassword.second) }}
                        </div>
                        <div class="text-center">
                            <button class="btnSoumission" type="submit">Modifier</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
