{% extends 'base.html.twig' %}

{% block title %}Ronron | Se connecter{% endblock %}

{% block body %}

        <form id="loginForm"  method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div id="login-page">
                <div class="rightSide">
                    <div class="container">
                        <div class="shadow"></div>
                        <div class="cat">
                            <div class="ear"></div>
                            <div class="eye"></div>
                            <div class="mouth"></div>
                            <div class="nose"></div>
                            <div class="tail"></div>
                            <div class="body"></div>
                            <div class="bubble"></div>
                        </div>
                    </div>
                    <div class="input-space">
                        <input type="email" value="{{ last_username }}" placeholder="Entrez votre email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    </div>


                    <div class="input-space">
                        <input type="password" placeholder="Entrez votre mot de passe" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>
                    <button class="btnSoumission" type="submit">
                        Me connecter
                    </button>
                    <div>
                        <a href="#" id="parIci"><p>Mot de passe oublié ?</p></a>
                    </div>
                </div>


            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        </form>




{% endblock %}
