{% extends 'base.html.twig' %}

{% block title %}Ronron | Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<div class="contact">
    {{ form_start(registrationForm) }}


    {{ form_row(registrationForm.email) }}
    {{ form_errors(registrationForm.email) }}


    {{ form_row(registrationForm.pseudo) }}
    {{ form_errors(registrationForm.pseudo) }}

    {{ form_row(registrationForm.password) }}


    {{ form_row(registrationForm.agreeTerms) }}
    {{ form_errors(registrationForm.agreeTerms) }}

        <button class="btnSoumission" type="submit" class="btn">M'inscrire</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
