{{ form_start(form) }}
<div class="btnSearch2">{{ form_row(form.type) }}</div>
<div class="btnSearch2">Name {{ form_row(form.name) }}</div>
<div class="btnSearch2">Ville {{ form_row(form.city) }}</div>
<div class="btnSearch2">Couleur {{ form_row(form.color) }}</div>
<button class="btnSearch2" type="submit">Rechercher</button>
{{ form_end(form) }}