{% extends 'base.html.twig' %}

{% block title %}Ronron | Contact{% endblock %}

{% block body %}
    <div class="contact">

        {{ form_start(form) }}
        <div>
            {{ form_widget(form.email) }}<br>
        </div>
        <div>
            {{ form_widget(form.objet) }}<br>
        </div>
        <div>
            {{ form_widget(form.message) }}<br>
        </div>

        <div>
            <button class="btnSoumission">Envoyer</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}