{% extends 'base.html.twig' %}

{% block title %}Ronron | Déposer une annonce{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-3">Informations du chat</h1>

                {{ form_start(formCat, {'attr': {'id': 'formCat'}}) }}
                <div class="form-group mb-3">
                    {{ form_row(formCat.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom du chat'}}) }}
                    {{ form_errors(formCat.name) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(formCat.color, {'attr': {'class': 'form-control', 'placeholder': 'Couleur du chat'}}) }}
                    {{ form_errors(formCat.color) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(formCat.age, {'attr': {'class': 'form-control', 'placeholder': 'Âge du chat'}}) }}
                    {{ form_errors(formCat.age) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(formCat.breed, {'attr': {'class': 'form-control', 'placeholder': 'Race du chat'}}) }}
                    {{ form_errors(formCat.breed) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(formCat.tattoo, {'attr': {'class': 'form-control', 'placeholder': 'Tatouage du chat'}}) }}
                    {{ form_errors(formCat.tattoo) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(formCat.sterelized, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(formCat.sterelized, 'Stérélisé', {'label_attr': {'class': 'form-check-label'}}) }}
                    {{ form_errors(formCat.sterelized) }}
                </div>
                <div class="form-group mb-3">
                    <label for="designCoat" class="form-label">Style de pelage</label>
                    {{ form_row(formCat.designCoat, {'attr': {'class': 'form-control', 'placeholder': 'Style de pelage'}}) }}
                    {{ form_errors(formCat.designCoat) }}
                </div>
                <div class="form-group mb-3">
                    <label for="lengthCoat" class="form-label">Longueur de pelage</label>
                    {{ form_row(formCat.lengthCoat, {'attr': {'class': 'form-control', 'placeholder': 'Longueur de pelage'}}) }}
                    {{ form_errors(formCat.lengthCoat) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(formCat.sexe, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(formCat.sexe) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(formCat.chip, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de puce du chat'}}) }}
                    {{ form_errors(formCat.chip) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(formCat.picture, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(formCat.picture) }}
                </div>
                <div class="text-center">
                    <button class="btn btn-success" type="submit">Enregistrer</button>
                </div>
                {{ form_end(formCat) }}
            </div>
        </div>

    </div>
{% endblock %}