{% extends 'base.html.twig' %}

{% block title %}Ronron | Déposer une annonce{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-3">Informations du chat</h1>
                <h6 class="text-center">Complétez autant d'informations que possible dans ce formulaire pour augmenter les chances de retrouvaille que vous avez perdu ou retrouvé un chat.</h6>
                <hr>


                {{ form_start(formCat, {'attr': {'id': 'formCat'}}) }}
                <div class="form-group mb-3">
                    {{ form_row(formCat.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom du chat'}}) }}
                    {{ form_errors(formCat.name) }}
                </div>

                <div class="form-group mb-3">
                    {{ form_row(formCat.colors) }}
                    {{ form_errors(formCat.colors) }}
                </div>

                <div class="form-group mb-3">
                    {{ form_row(formCat.age, {'attr': {'class': 'form-control', 'placeholder': 'Âge du chat'}}) }}
                    {{ form_errors(formCat.age) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(formCat.breed, {'attr': {'class': 'form-control', 'placeholder': 'Race du chat'}}) }}
                    {{ form_errors(formCat.breed) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(formCat.tattoo, {'attr': {'class': 'form-control', 'placeholder': 'Tatouage du chat'}}) }}
                    {{ form_errors(formCat.tattoo) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(formCat.sterelized, {'attr': {'class': 'form-control', 'placeholder': 'Stérilisé'}}) }}
                    {{ form_errors(formCat.sterelized) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(formCat.designCoat, {'attr': {'class': 'form-control', 'placeholder': 'Style de pelage'}}) }}
                    {{ form_errors(formCat.designCoat) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(formCat.lengthCoat, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(formCat.lengthCoat) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(formCat.sexe, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(formCat.sexe) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(formCat.chip, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de puce du chat'}}) }}
                    {{ form_errors(formCat.chip) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(formCat.picture, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(formCat.picture) }}
                </div>
                <div class="text-center">
                    <button class="btnSoumission" type="submit">Suivant</button>
                </div>
                {{ form_end(formCat) }}
            </div>
        </div>

    </div>
{% endblock %}