{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annonce de chat {{ announce.type }}</h1>
    <p>Description : {{ announce.description }}</p>
    <p>Date: {{ announce.dateCat|date('d/m/Y') }}</p>
    <p>Vu la dernière fois : {{ announce.street ?? '' }}, {{ announce.cp }} {{ announce.city }}, {{ announce.country }}</p>
    <p>Statut: {{ announce.state ?? 'en ligne' }}</p>

    <div class="card mt-4">
        <h2 class="card-header">Information sur le chat</h2>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Nom: {{ announce.cat.name ?? 'Non renseigné' }}</li>
                <li class="list-group-item">Couleur:
                    {% if cat.color is not empty %}
                        {% for color in cat.color %}
                            {{ color.name }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% else %}
                        Non renseigné
                    {% endif %}</li>
                <li class="list-group-item">Age: {{ announce.cat.age ?? 'Non renseigné' }}</li>
                <li class="list-group-item">Race: {{ announce.cat.breed ?? 'Non renseigné' }}</li>
                <li class="list-group-item">Tatouage: {{ announce.cat.tattoo ?? 'Non renseigné' }}</li>
                <li class="list-group-item">Stérélisé: {{ announce.cat.sterelized ?? 'Non renseigné' }}</li>
                <li class="list-group-item">
                    <strong>Pelage:</strong>
                    <ul>
                        <li>Style: {{ announce.cat.designCoat ?? 'Non renseigné' }}</li>
                        <li>Longueur: {{ announce.cat.lengthCoat ?? 'Non renseigné' }}</li>
                    </ul>
                </li>
                <li class="list-group-item">Sexe: {{ announce.cat.sexe ?? 'Non renseigné' }}</li>
                <li class="list-group-item">Puce: {{ announce.cat.chip ?? 'Non renseigné' }}</li>
            </ul>
        </div>
    </div>

    <h2>Commentaires</h2>

    {% if comments %}

        {% for comment in comments %}
            <p>{{ comment.content }} de {{ comment.user.pseudo }} le {{ comment.createdAt | date('d-m-Y') }}
                {% if comment.user == app.user %}
                    <a href="{{ path("app_comment_delete", {'id':comment.id}) }}">Supprimer</a>
                {% endif %}
            </p>
        {% endfor %}


    {% else %}

    <p> Aucun commentaire pour le moment</p>

    {% endif %}

    {% if app.user %}
        <h2>Ajouter un commentaire</h2>

        {{ form_start(comment_form) }}
        <button type="submit">Envoyer</button>
        {{ form_end(comment_form) }}
        {% else %}
        Veuillez <a href="{{ path('app_login') }}"> vous connecter</a> pour commenter
    {% endif %}
{% endblock %}
