{% extends 'base.html.twig' %}

{% block title %}Ronron | Favoris{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Mes chats favoris</h1>

        <div class="row">
            {% if favorites|length > 0 %}
                {% for cat in favorites.items %}
                    <div class="card" style="width: 18rem;">
                        {% if cat.picture %}
                            <img style="height: 200px; object-fit: cover" src="{{ asset('uploads/picturechat/' ~ cat.picture) }}" alt="Photo du chat">
                        {% else %}
                            <div class="display-3 text-center"><i style="height: 200px; object-fit: cover" class="fa-solid fa-laptop-code"></i></div>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ cat.name }} | {{ cat.sexe }}</h5>
                            <h4><i class="fa-solid fa-cat"></i> {{ cat.breed }}</h4>
                            <div class="viewProfil">

                                <a  class="text-dark" href="{{ path('app_announce_show', {'id': cat.id })}} "><i class="fa-solid fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center">Aucun chat favori.</p>
            {% endif %}
        </div>

        <div class="d-flex justify-content-center mt-4">
            {{ knp_pagination_render(favorites) }}
        </div>
    </div>
{% endblock %}
